/* reset css  */
:root {
    --white: #ffffff;
    --green: #C0A48F;
    --grullo: #566641;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

/* --------------   */

